ul {
    list-style: none;
    padding-left: 16px;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  [data-testid='dir-expand'] {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
  }
  
  ul ul {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px dashed #333;
  }
  
  ul ul li:last-child {
    margin-bottom: 0;
  }
  
  ul ul[data-testid='node'] {
    padding-left: 0;
    border-left: none;
  }